# Source code to extract data for below Attributes:
Population    
Per_Capita_Expenditure (PCE)
GDP   
Consumer_Price_Index   
Currency_Conversion    
Website: http://iresearch.worldbank.org/PovcalNet/data.aspx

Importing all the required packages and modules

In [1]:
# pip install jupyter notebook==5.7.8 tornado==4.5.3
# pip install requests_htmlfrom bs4 import BeautifulSoup
from selenium.webdriver.support.ui import Select
from selenium import webdriver
from functools import reduce
from bs4 import BeautifulSoup
import nest_asyncio
import pandas as pd
nest_asyncio.apply()
from requests_html import HTMLSession
import pandas as pd
import time

Web Scraping Code for population attribute usiong HTMLSession

In [2]:
#function to extract data from html format
def extract_data_population(html_data):
    table = html_data.find('body').find('table')
    header = [str(country.text.strip()) for country in table.find('thead').find_all('td')]
    header.pop(-1)
    header[0]="Countries"
    table1 = html_data.find_all('tbody')[1]
    data = []
    data = {country: [] for country in header}
    #extracting row
    for row in table1.find_all("tr"):
        #extractinmg columns
        cols = [col.text for col in row.find_all('td')]
        if len(cols)==11:
            for i, col in enumerate(cols):
                data[header[i]].append(col)
    return pd.DataFrame(data) #converting python dictionary to data frame using PANDAS

#function to get the source page(html format) and parse it to beautifull soup
def scrap_data_population(url):
    # create an HTML Session object
    session = HTMLSession()
    # Use the object above to connect to needed webpage
    resp = session.get(url)
    # Run JavaScript code on webpage
    resp.html.render()
    soup = BeautifulSoup(resp.html.html, "lxml")
    return extract_data_population(soup)

#population function call
def Population():
    url="http://iresearch.worldbank.org/PovcalNet/data.aspx"
    population=scrap_data_population(url)
    df_final_population=pd.melt(population, id_vars='Countries', value_vars=['2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017'])
    df_final_population.columns = ['Country','Year','Population']
    return df_final_population

Web Scraping for attributes using Selenium (code)

In [8]:
#function to extract data from html format
def extract_data(html_data):
    table = html_data.find("thead")
    header = [str(country.text.strip()) for country in table.find_all('td')]
    header.pop(-1)
    header[0]="Countries"
    table1 = html_data.find_all('tbody')[1]
    data = []
    data = {country: [] for country in header}
    
    #extracting row
    for row in table1.find_all("tr"):
        #extarcting column
        cols = [col.text for col in row.find_all('td')]
        if len(cols)>1:
            for i, col in enumerate(cols):
                data[header[i]].append(col)
    df=pd.DataFrame(data) #converting python dictionary to data frame using PANDAS
    return df

#Function to get the source page(html format) and parse it to beautifull soup
def scrap_data(indicator):
    url = 'http://iresearch.worldbank.org/PovcalNet/data.aspx' 
    driver = webdriver.Chrome() #calling selenium driver
    driver.get(url)
    select = Select(driver.find_element_by_class_name('topicTitle'))
    select.select_by_value(indicator) #selecting required attribute from dropdown using value (indicator)
    response = driver.page_source #getting html page using selenium driver
    soup = BeautifulSoup(response, "html.parser")
    driver.quit()
    return extract_data(soup) #passing argument as beautifull soup output to extarct data and required format

#Per Capita Expenditure Indicator function call
def Per_Capita_Expenditure():
    indicator = "PCE" 
    Per_Capita_Expenditure=scrap_data(indicator) 
    df_final_Per_Capita_Expenditure=pd.melt(Per_Capita_Expenditure, id_vars='Countries', value_vars=['2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017'])
    df_final_Per_Capita_Expenditure.columns = ['Country','Year','Per_Capita_Expenditure']
    return df_final_Per_Capita_Expenditure

#GDP Indicator function call
def GDP():
    indicator = "GDP"
    GDP=scrap_data(indicator)
    df_final_GDP=pd.melt(GDP, id_vars='Countries', value_vars=['2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017'])
    df_final_GDP.columns = ['Country','Year','GDP']
    return df_final_GDP

#Consumer Price Index Indicator function call
def Consumer_Price_Index():
    indicator = "CPI"
    Consumer_Price_Index=scrap_data(indicator) 
    df_final_Consumer_Price_Index=pd.melt(Consumer_Price_Index, id_vars='Countries', value_vars=['2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017'])
    df_final_Consumer_Price_Index.columns = ['Country','Year','Consumer_Price_Index']
    return df_final_Consumer_Price_Index

#Currency Conversion function call
def Currency_Conversion():
    indicator = "CurrencyConversion"
    Currency_Conversion=scrap_data(indicator)
    df_final_Currency_Conversion=pd.melt(Currency_Conversion, id_vars='Countries', value_vars=['2010', '2011', '2012', '2013', '2014', '2015', '2016'])
    df_final_Currency_Conversion.columns = ['Country','Year','Currency_Conversion']
    return df_final_Currency_Conversion

Data is converted in Data Frames and comcatenated into one Data Frame

In [12]:
#concatenated different indicator's Data Frames
dfs = [Population(),Per_Capita_Expenditure(), GDP(), Consumer_Price_Index(),Currency_Conversion()]
df_final = reduce(lambda left,right: pd.merge(left,right,on=['Country', 'Year'], how='left'), dfs)
df_final

,Country,Year,Population,Per_Capita_Expenditure,GDP,Consumer_Price_Index,Currency_Conversion
0,American Samoa,2010,0.06,NaN,NaN,NaN,NaN
1,Cambodia,2010,14.31,NaN,NaN,0.9289,NaN
2,China,2010,"1,337.71","1,612.71","4,560.51",NaN,NaN
3,Fiji,2010,0.86,NaN,"3,651.97",n/a,NaN
4,Indonesia,2010,242.52,"1,750.31","3,113.48",0.9274,NaN
5,Kiribati,2010,0.10,NaN,"1,520.88",n/a,NaN
6,"Korea, Dem. People's Rep.",2010,24.59,NaN,NaN,NaN,NaN
7,Lao PDR,2010,6.25,851.19,"1,141.13",n/a,NaN
8,Malaysia,2010,28.11,"4,364.82","9,071.36",n/a,NaN
9,Marshall Islands,2010,0.05,NaN,NaN,NaN,NaN
10,"Micronesia, Fed. Sts.",2010,0.10,NaN,"2,861.77",n/a,NaN
11,Mongolia,2010,2.71,"1,463.45","2,650.35",0.9224,NaN
12,Myanmar,2010,50.16,557.94,987.74,n/a,NaN
13,Northern Mariana Islands,2010,0.05,NaN,NaN,NaN,NaN
14,Palau,2010,0.02,NaN,NaN,NaN,NaN
15,Papua New Guinea,2010,7.11,NaN,"2,004.82",n/a,NaN
16,Philippines,2010,93.73,"1,523.67","2,129.50",n/a,NaN
17,Samoa,2010,0.19,NaN,"3,453.43",n/a,NaN
18,Solomon Islands,2010,0.53,NaN,"1,290.57",n/a,NaN
19,Thailand,2010,67.21,"2,648.06","5,075.30",0.9633,NaN
20,Timor-Leste,2010,1.11,567.33,"3,603.94",n/a,NaN
21,Tonga,2010,0.10,"3,476.73","3,548.07",n/a,NaN
22,Tuvalu,2010,0.01,NaN,"3,021.89",0.9950,NaN
23,Vanuatu,2010,0.24,"1,796.33","2,965.80",0.9891,NaN
24,Vietnam,2010,88.47,872.21,"1,310.37",0.8085,NaN
25,Albania,2010,2.91,"3,198.08","4,094.36",n/a,NaN
26,Armenia,2010,2.88,"2,631.56","3,218.38",0.9289,NaN
27,Azerbaijan,2010,9.05,"2,299.88","5,842.81",n/a,1.0000
28,Belarus,2010,9.49,"3,355.06","6,181.40",0.6526,NaN
29,Bosnia and Herzegovina,2010,3.72,"3,911.29","4,614.83",n/a,NaN
...,...,...,...,...,...,...,...
1730,Ghana,2017,28.83,"1,585.79","1,755.60",n/a,NaN
1731,Guinea,2017,12.72,n/a,824.11,n/a,NaN
1732,Guinea-Bissau,2017,1.86,587.76,603.50,n/a,NaN
1733,Kenya,2017,49.70,929.99,"1,169.22",n/a,NaN
1734,Lesotho,2017,2.23,n/a,"1,303.82",n/a,NaN
1735,Liberia,2017,4.73,n/a,n/a,n/a,NaN
1736,Madagascar,2017,25.57,n/a,421.89,n/a,NaN
1737,Malawi,2017,18.62,484.98,486.44,n/a,NaN
1738,Mali,2017,18.54,574.84,762.95,n/a,NaN
1739,Mauritania,2017,4.42,703.43,"1,303.44",n/a,NaN
1740,Mauritius,2017,1.26,"7,021.87","10,199.90",1.1768,NaN
1741,Mayotte,2017,0.25,NaN,NaN,NaN,NaN
1742,Mozambique,2017,29.67,373.96,519.09,n/a,NaN
1743,Namibia,2017,2.53,"4,524.38","5,839.88",n/a,NaN
1744,Niger,2017,21.48,268.67,395.96,n/a,NaN
1745,Nigeria,2017,190.89,"1,430.11","2,412.20",n/a,NaN
1746,Rwanda,2017,12.21,597.23,764.89,n/a,NaN
1747,Sao Tome and Principe,2017,0.20,NaN,"1,305.62",NaN,NaN
1748,Senegal,2017,15.85,"1,026.01","1,448.07",n/a,NaN
1749,Seychelles,2017,0.10,n/a,"14,142.80",n/a,NaN
1750,Sierra Leone,2017,7.56,450.67,462.70,n/a,NaN
1751,Somalia,2017,14.74,NaN,NaN,NaN,NaN
1752,South Africa,2017,56.72,"4,590.42","7,525.29",n/a,NaN
1753,South Sudan,2017,12.58,n/a,n/a,n/a,NaN
1754,Sudan,2017,40.53,"1,143.88","1,959.15",n/a,NaN
1755,Tanzania,2017,57.31,n/a,900.52,n/a,NaN
1756,Togo,2017,7.80,673.54,649.51,n/a,NaN
1757,Uganda,2017,42.86,482.02,666.75,n/a,NaN
1758,Zambia,2017,17.09,n/a,"1,635.49",n/a,NaN
1759,Zimbabwe,2017,16.53,861.09,"1,088.06",n/a,NaN

Final Data Frame is saved in CSV file

In [11]:
#saved final data frame to CVS file.
df_final.to_csv("./data/Poverty-I.csv", index = False)